<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @animal.owner_id %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
