<%= form_with(model: date_of_infection, local: true) do |form| %>
  <% if date_of_infection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(date_of_infection.errors.count, "error") %> prohibited this date_of_infection from being saved:</h2>

      <ul>
        <% date_of_infection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :animal_id %>
    <%= form.collection_select:animal_id, Animal.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
