<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='content'>
      <%= yield %>
    <div>


<div class='header'>
      <h1>Disease Tracker</h1>
      <%= link_to "Animals", animals_path %>
      <%= link_to "Diseases", diseases_path %>
      <%= link_to "Owners", owners_path %>
  </div>
___________
    <%= yield %>
=
  </body>

      <div class="heading">
    <h1>Appointment Manager</h1>
    <%= link_to("Owners", owners_path) %>
    <%= link_to("Animals", animals_path) %>
    <%= link_to("Date of infection", date_of_infections_path) %>
    <%= link_to("Diseases", diseases_path) %>
      </div>
<%= yield %>
</body>
>>>>>>> origin/wajeeh
</html>
